.table-container {
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
}

th {
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem;
    background-color: #f2f2f2;
    cursor: pointer;
}

th:hover {
    background-color: #ccc;
}

td {
    padding: 1rem;
    border-bottom: 1px solid #f2f2f2;
}

tr:last-child td {
    border-bottom: none;
}